.chat-main__body--messages-list
  .chat-main__message.clearfix
    .chat-main__message-name
      name
    .chat-main__message-time
      2018/09/20 11:10:02
    .chat-main__message-body
      message

  .chat-main__message.clearfix
    .chat-main__message-name
      name2
    .chat-main__message-time
      2018/03/04 16:27:32
    .chat-main__message-body
      message2
